@import '~bootstrap/dist/css/bootstrap'
@import '~startbootstrap-sb-admin/css/sb-admin'

.social-auth
  padding-bottom: 20px

.btn.google, .btn.github
  i
    padding-top: 3px

.avatar
  img
    max-height: 300px
    max-width: 300px
  .form-group
    padding-top: 20px

.last-transactions
  margin-top: 25px

.balance
  margin-right: 30px
  padding-top: 10px
  color: #eee
  b
    padding-right: 5px

label
  margin-right: 10px
