| $("#home-transaction-form").html("#{escape_javascript(render 'balance_transactions/form')}");
| $("#modal-window .modal-content .modal-body").html("#{escape_javascript(render 'balance_transactions/form')}");
| $("#modal-window .modal-content .modal-title").text("#{escape_javascript(t('transaction_modal_title'))}");
| $("#transaction_date").datepicker({format: 'yyyy-mm-dd'});
