| $("#modal-window .modal-content .modal-body").html("#{escape_javascript(render 'categories/expense_form')}");
| $("#modal-window .modal-content .modal-title").text("#{escape_javascript(t('add_transaction'))}");
| $("#expense-transactions-date").datepicker({format: 'yyyy-mm-dd'});
