| $("#modal-window .modal-content .modal-body").html("#{escape_javascript(render 'categories/form')}");
| $("#modal-window .modal-content .modal-title").text("#{escape_javascript(t('add_category'))}");
