h2= t('all_transactions')
= link_to t('add_transaction'), new_transaction_path,  {remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window', class: 'btn btn-primary'}

= render 'transactions/transactions'

nav aria-label="blah"
  = will_paginate @transactions
