| $("#modal-window .modal-content .modal-body").html("#{escape_javascript(render 'transactions/form')}");
| $("#modal-window .modal-content .modal-title").text("#{escape_javascript(t('transaction_modal_title'))}");
