| $("#modal-window .modal-content .modal-body").html("#{escape_javascript(render 'between_categories_transactions/form')}");
| $("#modal-window .modal-content .modal-title").text("#{escape_javascript(t('add_between_categories_transaction'))}");
